/*

Colours:

Light yellow:   #FFF653;
Mid yellow:     #CEC441;

Light grey:     #C6C6C6;
Mid grey:       #AAAAAA;
Dark grey:      #999999;

*/

/*******************
  BASE SETUP
*******************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  margin: 0 auto;
  width: 95%;
  padding: 0p

}

.hide {
	display: none;
}


/*******************
  FONT SETUP
*******************/

body,
header li:nth-child(n+3) a {
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
.teasers-block h2,
.strapline p {
	font-family: 'Merriweather', serif;
}

a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

/*******************
  GENERAL SETUP
*******************/

html {
	font-size: 20px;
}

.cta {
	color: black;
	text-decoration: none;
	padding: 0.75em 0;
	width: 100%;
	display: block;
	text-align: center;
	border-radius: 5px;
}

.cta-grey {
	border-bottom: 3px solid #999999;
	background-color: #C6C6C6;
}

.cta-yellow {
	border-bottom: 3px solid #CEC441;
	background-color: #FFF653;
}

/*******************
  HEADER
*******************/

header {
	background-color: black;
	border-bottom: 5px solid #FFF653;
	padding:  ;
}

h1 {
	color: #FFF653;
	margin: 0;
	font-size: 48px;
	float: left;
	padding-left: 1.5rem;
}

header nav {
	float: left;
	padding: 0;
}

header ul {
	margin-bottom: 0;
}

header li {
	display: block;
	margin: 0 0.3em;
}

header li:nth-child(n+3) a {
   text-transform: none;
}

header a {
	color: white;
	text-decoration: none;
}


.fa {
	color: #CEC441;
	font-size: 2rem;
	float: right;
}

/*******************
  STRAPLINE
*******************/

.strapline {
	background-color: #C6C6C6;
	padding: ;
	text-align: center;
}

.strapline p {
	margin: 0;
	font-style: italic;
	font-size: 1.2rem;
}

.txn {
	background-color: rgb(225,225,225);
	padding: 0.3em 0;
	text-align: center;
}

.txn p {
	margin: 0 auto;
	font-size: 1.1rem;
	word-wrap: break-word;
}



del {
	color: #999999;
}

ins {
	text-decoration: none;
	position: relative;
}

ins:before {
	background-color: #FFF653;
	bottom: -2px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
}

/*******************
  INTRO
*******************/

.intro {
	
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.5em 0;
}

.intro-content {
	background-color: rgba(255,255,255,0.8);
	margin-left: 0uto;
	width: 95vw;
	padding: 1.5em;
}

.intro-content h2 {
	margin-top: 0;
}

.intro-content p {
	line-height: 1.6em;
}

/*******************
  TEASERS
*******************/

.teasers {
	padding: .1em 0;
}

.teasers ul {
	padding: 0;
	margin: 0;
}

.teasers-block {
    list-style: none;
	width: 95vw;
	padding: 0 1em;	 
}

.teasers-block:last-child {
	border-right: none;
	padding-bottom: 2vh;
}

.teasers-block h2 {
	font-size: 1.2rem;
	margin: 0.75em 0 0.3em;
}

.teasers-block p {
	line-height: 1.5em;
	margin-top: 0.5em;
}


/*******************
  FOOTER
*******************/

footer {
	background-color: black;
	color: white;
	padding: 1em 0;
}


/****************************
MEDIA QUERY: IPAD;
*****************************/
@media (min-width: 665px) {
	header nav li section {
		display: inline-block;
		width: 100%;
 }

 .fa {
 	display: none;
 }

 .txn p {
 	width: 100%;
 }
 .strapline p {
 	padding: 0px;
 }
}


/****************************
MEDIA QUERY: IPAD;
*****************************/

@media (max-width: 600px) {
	section{
		width: 100%;
	}
	 .txn p {
 	w
 }

}


/*******************
  HEADER
*******************/

header {
	background-color: black;
	border-bottom: 5px solid #FFF653;
	padding: 1em 0;
}

h1 {
	color: #FFF653;
	margin: 0;
	font-size: 1.4rem;
	float: left;
}

header nav {
	float: right;
	display: visible;
}

header ul {
	margin-bottom: 0;
}

header li {
	display: inline-block;
	margin: 0 0.3em;
}

header li:nth-child(n+3) a {
   text-transform: none;
}

header a {
	color: white;
	text-decoration: none;
}

/*******************
  STRAPLINE
*******************/

.strapline {
	background-color: #C6C6C6;
	padding: 0.3em 15px;
	text-align: center;
	padding: -1em;
}

.strapline p {
	margin: 0;
	font-style: italic;
	font-size: 1.2rem;
	padding: -0.3em 5px;
	dis
}

del {
	color: #999999;
}

ins {
	text-decoration: none;
	position: relative;
}

ins:before {
	background-color: #FFF653;
	bottom: -2px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
}

/*******************
  INTRO
*******************/


.intro-content {
	margin-left: auto;
	width: 40vw;
	padding: 1.5em;
}

.intro-content h2 {
	margin-top: 0;
}

.intro-content p {
	line-height: 1.6;
}

/*******************
  TEASERS
*******************/

.teasers {
	padding: 1em 0;
}

.teasers ul {
	padding: 0;
	margin: 0;
}

.teasers-block {
	border-right: 1px solid #C6C6C6;
	list-style: none;
	float: left;
	width: 33.33333333%;
	padding: 0 1em;
}

.teasers-block:last-child {
	border-right: none;
}

.teasers-block h2 {
	font-size: 1.2rem;
	margin: 0.75em 0;
}

.teasers-block p {
	line-height: 1.5;
}


/*******************
  FOOTER
*******************/

footer {
	background-color: black;
	color: white;
	padding: 1em 0;
}


}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
header section }
  
  p {
  	font-size: : 0.2em;
  }



/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { header
  	section }

  	.txn p {
  		font-size: 30px;
  		padding: 0.05px;
  	}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { header section
}

h1 {
	font-size: 1.1rem;
}
 .txn p {
	font-size: 1.1rem;
	padding: 0.001em;
}
.strapline p {
	font-size: 0.9rem;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
section {
	padding: 0em 14px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}